
*{margin: 50px;}
header{
    text-align: center;
    margin: 3px;
    background-color: gray;
    font-size: larger;
    font-weight: revert;
    font-family: ui-monospace;
    
}

element.style {
    FONT-WEIGHT: 500;
    background-color: grey;
    margin: -50px;
    font-family: system-ui;
    font-size: 18px;
    margin-top: auto;
    margin: 0px;
    block-size: 0px;

}
p.obj {
    margin: 3px;
} 


body nav ul li {
    
    display: inline-block;
    margin: 5px;
    background-colorr: gba(90, 72, 72, 0.089) ;

}
body {
    font-size: 100%;
    font: inherit;
    background-color: silver;
}

.obj{
    padding:10px;
    width: 100%;
    background-color: lightgrey;
    margin: 0px;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;

}
.line{
    background-color: rgba(139, 138, 138, 0.692);
    margin:-45px;
    font-family: cursive;
    width: 100px;
    height: 100px;
    animation-name:line;
    animation-duration: 10s;
    animation-iteration-count: 100;



}
@keyframes line{
    0%   {background-color: rgb(110, 155, 96);}
    25%  {background-color: rgb(98, 98, 70);}
    50%  {background-color: rgb(104, 104, 144);}
    100% {background-color: rgb(185, 219, 185);}
  }

footer p{
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
    font-weight: 900;
    background-color: rgba(126, 126, 126, 0.568);
}
footer {
    height: 100px;
    color: rgba(0, 0, 0, 0.644);
}

